<div class="card">
    <div class="card-content cal-card-content">
        <h4>Weekly Schedule:</h4>
        <div id='calendar' class="user-tabs"></div>
    </div>
    <a class="btn-floating halfway-fab waves-effect waves-light blue darken-4 tooltipped printBtn hidden-print" data-position="left" data-delay="50" data-tooltip="Print schedule here"><i class="material-icons">print</i></a>
    <a class="btn-floating halfway-fab waves-effect waves-light blue darken-4 tooltipped complete_course_btn modal-trigger hidden-print" data-position="left" data-delay="50" data-tooltip="Complete Courses" href="#modal1"><i class="material-icons">check</i></a>
</div>
<br />
