@model bool
@* Model: ReadOnly *@

<div class="row">
    <div class="col s12">
        <h3>
            Current Schedule
            <span class="right">
                <a class="btn waves-effect waves-light blue darken-4 tooltipped printBtn hidden-print" data-position="bottom" data-delay="50" data-tooltip="Print schedule here"><i class="material-icons">print</i></a>
                @if (Model)
                {
                    <a class="btn waves-effect waves-light blue darken-4 tooltipped complete_course_btn modal-trigger hidden-print" data-position="bottom" data-delay="50" data-tooltip="Complete Courses" href="#modal1"><i class="material-icons">check</i></a>
                }
                else
                {
                    <a class="btn waves-effect waves-light blue darken-4 tooltipped complete_course_btn modal-trigger hidden-print" data-position="bottom" data-delay="50" data-tooltip="Add Courses" href="#add-courses"><i class="material-icons">add_box</i></a>
                }
            </span>
        </h3>
    </div>
    <div class="col s12">
        <div id="calendar" class="user-tabs"></div>
    </div>
</div>
