<div id="modal1" class="modal">
    <div class="modal-content">
        <h4>Complete Courses</h4>
        <p>Are you sure you would like to mark all of the currently scheduled courses as complete?</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-blue btn-flat" onclick="completeClasses()">Agree</a>
        <a href="#!" class="modal-action modal-close waves-effect waves-blue btn-flat">Cancel</a>
    </div>
</div>