<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Athena</title>

    <link rel="stylesheet" type="text/css" href="~/athena.css"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>

    <div class="container body-content;">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - Athena</p>
        </footer>
    </div>

    <script type="text/javascript" src="~/athena.js"></script>

    @RenderSection("Scripts", required: false)

    <script>
        $('.dropdown-button').dropdown({
            inDuration: 300,
            outDuration: 225,
            constrainWidth: false, // Does not change width of dropdown to that of the activator
            hover: true, // Activate on hover
            gutter: 0, // Spacing from edge
            belowOrigin: false, // Displays dropdown below the button
            alignment: 'left', // Displays dropdown with edge aligned to the left of button
            stopPropagation: false // Stops event propagation
        }
        );</script>

    <script>    $(".button-collapse").sideNav();</script>

    <script>
        $('.button-collapse').sideNav({
            menuWidth: 300, // Default is 300
            edge: 'right', // Choose the horizontal origin
            closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
            draggable: true, // Choose whether you can drag to open on touch screens,
            onOpen: function (el) { /* Do Stuff*/ }, // A function to be called when sideNav is opened
            onClose: function (el) { /* Do Stuff*/ }, // A function to be called when sideNav is closed
        }
        );
    </script>

    <script type="text/javascript">
        $('#mySchedule').weekly_schedule({
            // Days displayed
            days: ["mon", "tue", "wed", "thu", "fri"],
            // Hours displyed
            hours: "7:00AM-8:00PM",
            // Font used in the component
            fontFamily: "Montserrat",
            // Font colot used in the component
            fontColor: "black",
            // Font weight used in the component
            fontWeight: "100",
            // Font size used in the component
            fontSize: "0.8em",
            // Background color when hovered
            hoverColor: "#727bad",
            // Background color when selected
            selectionColor: "#9aa7ee",
            // Background color of headers
            headerBackgroundColor: "transparent"
        });
    </script>
    <script>
        $(document).ready(function () {
            // page is now ready, initialize the calendar...
            $('#calendar').fullCalendar({
                // put your options and callbacks here
            })
        });
    </script>

    <script type="text/javascript" src="~/jquery.collapsible.js"></script>
    <script type="text/javascript">$('#first').collapsible('accordion-open', {
    /* Speeds for opening */
    accordionUpSpeed: 400,
    accordionDownSpeed: 400,
    collapseSpeed: 400,
    /* Default pane open, if any */
    contentOpen: 0,
    /* Classes for dropdown arrow */
    arrowRclass: 'arrow-r',
    arrowDclass: 'arrow-d',
    animate: true
        });</script>

    <script>
        var names = [];


        function displayUserName() {
            var theName = document.getElementById("enter").value;
            if (theName == "" || theName.length == 0) {
                return false; //stop the function since the value is empty.
            }
            names.push(theName);
            document.getElementById("name").children[0].innerHTML += "<li>" + names[names.length - 1] + "</li>";
        }
    </script>


</body>
</html>
