<div class="HomepageDegreeProgress">
    <div class="row">
        <div class="col s2">
            <h4>Degree Progress:</h4>
        </div>
        <div class="col s4 offset-s2">
            <div id="progress-bar" class="all-rounded">
                <div id="progress-bar-percentage" class="all-rounded" style="width: 68%"><span>68/100</span></div>
            </div>
        </div>
        <div class="col s2 offset-s1">
            <h5>ETC:</h5>
            <h6>??/??/????</h6>
        </div>
    </div>
</div>
<div class="row">
    @Html.Partial("_CurrentSchedule", true)
</div>
@Html.Partial("_CurrentScheduleModal", false)

