# Required for Google Authentication
# See https://docs.microsoft.com/en-us/aspnet/core/security/authentication/social/google-logins?tabs=aspnetcore2x#create-the-app-in-google-api-console
AUTH_GOOGLE_CLIENT_KEY=
AUTH_GOOGLE_CLIENT_SECRET=

# Required for Microsoft Authentication
# See https://docs.microsoft.com/en-us/aspnet/core/security/authentication/social/microsoft-logins?tabs=aspnetcore2x
AUTH_MICROSOFT_CLIENT_KEY=
AUTH_MICROSOFT_CLIENT_SECRET=