@using Athena.Core.Models.Identity
@using Athena.Handlers
@using Microsoft.AspNetCore.Identity
@model Athena.Models.Login.LoginViewModel

@inject SignInManager<AthenaUser> SignInManager;

@{
    ViewBag.Title = "Login";
    Layout = "_Layout";
}

<div class="valign-wrapper vh-80">

    <div class="row">
        <div class="col s12">
            <h3>Login Required</h3>
        </div>
        <div class="col s12 flow-text">
            Athena uses your accounts from other services for authentication. To create an account or log into an existing
            account, please choose an authentication provider below
        </div>
        <div class="col s12">
            <div class="row login-provider-list">
              @{
                  var providers = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Where(a => a.HandlerType != typeof(ApiKeyHandler)).ToList();
                  if (providers.Count == 0)
                  {
                      <div class="col s12 flow-text">
                          Your administrator did not setup any authentication providers so we can't log you in. Ask them to fix
                          the setup!
                      </div>
                  }
                  else
                  {
                      foreach (var provider in providers)
                      {
                          <span class="login-provider">
                              <a href="@Url.Action(nameof(AccountController.LoginWithExternalProvider), "Account", new {provider = provider.Name, returnUrl = Model.ReturnUrl})">
                                  <login-provider-logo provider="@provider.Name"/>
                              </a>
                          </span>
                      }
                  }
              }  
            </div>
        </div>
        
    </div>
</div>


