@using Athena.Core.Models.Identity
@using Microsoft.AspNetCore.Identity
@model Athena.Models.Login.LoginViewModel

@inject SignInManager<AthenaUser> SignInManager;

@{
    ViewBag.Title = "Login";
    Layout = "_Layout";
}

<h3>Login Required</h3>

<div class="row">
    <div class="col s12">
        Athena uses your accounts from other services for authentication. To create an account or log into an existing
        account, please choose an authentication provider below
    </div>
</div>
<div class="row">
@{
    var providers = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
    if (providers.Count == 0)
    {
        <div class="col s12">
            Your administrator did not setup any authentication providers so we can't log you in. Ask them to fix
            the setup!
        </div>
    }
    else
    {
        foreach (var provider in providers)
        {
            <div class="col s3">
                <div class="card">
                    <div class="card-content">
                        Login using your @provider.DisplayName account
                    </div>
                    <div class="card-action">
                        <a href="@Url.Action(nameof(AccountController.LoginWithExternalProvider), "Account", new {provider = provider.Name, returnUrl = Model.ReturnUrl})">
                            Login
                        </a>
                    </div>
                </div>
            </div>
        }
    }
}
</div>
