<div id="unmet-dependency-error" class="modal">
    <div class="modal-content">
        <h4>Unable to enroll in Course</h4>
        <p>
            We can't enroll you in <span id="unmet-target"></span> because you haven't taken some of
            its dependencies:
        </p>
        <ul id="unmet-concurrent-list" class="browser-default"></ul>
        <ul id="unmet-list" class="browser-default"></ul>
    </div>
    <div class="modal-footer">
        <a href="#" class="modal-action modal-close btn-flat">OK</a>
    </div>
</div>