@{
    ViewBag.Title = "Edit Schedule";
    Layout = "_Layout";
    var student = User.ToAthenaUser();
}

<h2>Edit Schedule</h2>

<p class="flow-text">
    Here's what your weekly schedule looks like so far. Feel free to add and remove courses
    to see what works:
</p>

<div id="schedule">
    @Html.Partial("_CurrentSchedule", false)
</div>
@Html.Partial("_CurrentScheduleModal", false)

@section Scripts
{
    <script type="text/javascript" src="@Url.Content("~/schedule.js")"></script>
    <script type="text/javascript">
        $(function () {
            athena.schedule.init('@(student.Id)', false);
        });
    </script>
}
