.brand-logo {
    margin-top: 12px;
    font-size: 3em;
    font-weight: bold;
}

#athena-icon {
    max-height: 6rem;
    max-width: 6rem;
    padding-left: 3em;
}

nav .chip {
    background-color: lightgray;
}

nav .chip:hover {
    color: white;
    background-color: #2962ff;
}