@import '~fullcalendar/dist/fullcalendar.css';

@media print{
    @page {
        size: portrait;
    }
}

.fc-event, .fc-event-dot {
    background-color: white;
}

.fc-event {
    border-color: black;
    color: black;
}
