@import '~materialize-css/dist/css/materialize.css';
@import '~material-design-icons/iconfont/material-icons.css';
@import '~fullcalendar/dist/fullcalendar.css';

@import 'nav.css';
@import 'footer.css';

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.all-rounded {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.spacer {
    display: block;
}

#progress-bar {
    width: 15em;
    height: 2em;
    background: #cccccc;
    position: relative;
}

#progress-bar-percentage {
    background: #3063A5;
    padding: 5px 0px;
    color: #FFF;
    text-align: center;
    height: 2em;
}

    #progress-bar-percentage span {
        display: inline-block;
        position: absolute;
        width: 100%;
        left: 0;
    }

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

#calendar {
    margin: 0 auto;
    background-color:white
}

.overlay {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0
}

.btn {
    background-color: #0D47A1;
}

    .btn:hover {
        background-color: #1a237e;
    }

.progress{
    height:2em;
    background-color:darkgrey;
}

.determinate {
    color: white;
    background-color: #0d47a1;
    display: inline-block;
    position: absolute;
    width: 70%;
    left: 0;
}

.card-content{
    background-color:lightgray;
    padding-top:5em;
}

.tabs .tab a.active {
    color: #0d47a1;
}

.tabs .tab a:hover {
    color: #0d47a1;
}

.tabs .tab a {
    color: #0d47a1;
}

.tabs .indicator {
    background-color: #0d47a1;
}