<div id="unmet-dependency-error" class="modal">
    <div class="modal-content">
        <h4>Unable to enroll in Course</h4>
        <p>
            We can't enroll you in <span id="unmet-target"></span>
        </p>
        <div id="unmet-concurrent-container">
            
        </div>
        <div id="unmet-container">
            
        </div>
    </div>
    <div class="modal-footer">
        <a href="#" class="modal-action modal-close btn-flat">OK</a>
    </div>
</div>