@{
    ViewData["Title"] = "Add Classes";
}

<p>Use this area to provide additional information.</p>

<!--http://jordnkr.github.io/collapsible/-->
<div id="first">
    <h1 id="specific" class="btn" style="width:30em;background-color:navy">Degree Specific Courses</h1>
    <div>
        <p>First Section Content</p>
    </div>
    <br />
    <br />
    <h1 class="btn" style="width:30em;background-color:navy">All Courses</h1>
    <div>
        <p>Second Section Content</p>
    </div>
</div>
<br />
<a href="Main_Page" style="width:30em;color:white;background-color:navy" class="btn">Finish</a>