@{
    ViewData["Title"] = "Add Classes";
}

<p>Use this area to provide additional information.</p>

<div id="first"><div class="row">
    <h1 id="specific" class="btn col s6 offset-s3">Degree Specific Courses</h1>
    </div>
        <div>
            <p>First Section Content</p>
        </div>
       <div class="row">
            <h1 class="btn col s6 offset-s3">All Courses</h1>
            </div>
                <div>
                    <p>Second Section Content</p>
                </div>
            </div>
        <br />
        <div class="row">
            <a href="User_Page" class="btn col s6 offset-s3">Finish</a>
        </div>
