@using Athena.Core.Models
@{
    ViewData["Title"] = "Add Classes";
}

@section styles
{
    <style>
        body {
            overflow-y: scroll;
        }
    </style>
}

<div class="addclass_dropdowns">
    <div id="first">
        <div class="row">
            <h1 id="specific" class="btn col s6 offset-s3">Degree Specific Courses</h1>
        </div>
        <div>
            <ul class="classUnordered">
                <li>
                    <div class="card courseCard">
                        <span class="card-title courseCardTitle">Math</span>
                        <a class="btn-floating halfway-fab waves-effect waves-light blue darken-4" onclick="changesymbol(this, this.id, 'Math', '12:30', '14:30', [1, 3, 5])" id="1520"><i class="material-icons">add</i></a>
                        <div class="card-content courseCardContent">
                            <p>Math</p><p>1520</p><p>12:30-2:30</p><p>Mon,Wed,Fri</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card courseCard">
                        <span class="card-title courseCardTitle">Physics</span>
                        <a class="btn-floating halfway-fab waves-effect waves-light blue darken-4" onclick="changesymbol(this, this.id, 'Physics', '8:00', '10:00', [1, 3, 5])" id="1234"><i class="material-icons">add</i></a>
                        <div class="card-content courseCardContent">
                            <p>Physics</p><p>1234</p><p>8:00-10:00</p><p>Mon,Wed,Fri</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card courseCard">
                        <span class="card-title courseCardTitle">Reading</span>
                        <a class="btn-floating halfway-fab waves-effect waves-light blue darken-4" onclick="changesymbol(this, this.id, 'Reading', '16:30', '18:30', [2, 4])" id="3004"><i class="material-icons">add</i></a>
                        <div class="card-content courseCardContent">
                            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="row">
            <h1 class="btn col s6 offset-s3">All Courses</h1>
        </div>
        <div>

            <ul class="classUnordered">
                <li>
                    <div class="card courseCard">
                        <span class="card-title courseCardTitle">Math</span>
                        <a class="btn-floating halfway-fab waves-effect waves-light blue darken-4" onclick="changesymbol(this, this.id, 'Math', '12:30', '14:30', [1, 3, 5])" id="1520"><i class="material-icons">add</i></a>
                        <div class="card-content courseCardContent">
                            <p>Math</p><p>1520</p><p>12:30-2:30</p><p>Mon,Wed,Fri</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card courseCard">
                        <span class="card-title courseCardTitle">Physics</span>
                        <a class="btn-floating halfway-fab waves-effect waves-light blue darken-4" onclick="changesymbol(this, this.id, 'Physics', '8:00', '10:00', [1, 3, 5])" id="1234"><i class="material-icons">add</i></a>
                        <div class="card-content courseCardContent">
                            <p>Physics</p><p>1234</p><p>8:00-10:00</p><p>Mon,Wed,Fri</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card courseCard">
                        <span class="card-title courseCardTitle">Reading</span>
                        <a class="btn-floating halfway-fab waves-effect waves-light blue darken-4" onclick="changesymbol(this, this.id, 'Reading', '16:30', '18:30', [2, 4])" id="3004"><i class="material-icons">add</i></a>
                        <div class="card-content courseCardContent">
                            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="row">
            <h1 class="btn col s6 offset-s3">Completed Courses</h1>
        </div>
        <div>
            <p>Second Section Content</p>
        </div>
    </div>
    <br />
    <div class="row">
        <a href="@Url.Action(nameof(StudentController.Profile), "Student")" class="btn col s6 offset-s3">Finish</a>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $('#first').collapsible('accordion-open', {
            /* Speeds for opening */
            accordionUpSpeed: 400,
            accordionDownSpeed: 400,
            collapseSpeed: 400,
            /* Default pane open, if any */
            contentOpen: 1,
            /* Classes for dropdown arrow */
            arrowRclass: 'arrow-r',
            arrowDclass: 'arrow-d',
            animate: true
        });
</script>

    <script type="text/javascript">
        var names = [];
        function displayUserName() {
            var theName = document.getElementById("enter").value;
            if (theName == "" || theName.length == 0) {
                return false; //stop the function since the value is empty.
            }
            names.push(theName);
            document.getElementById("name").children[0].innerHTML += "<li>" + names[names.length - 1] + "</li>";
        }
    </script>
}