@using Athena.Core.Models
@{
    ViewData["Title"] = "Add Classes";
}

@section styles
{
    <style>
        body {
            overflow-y: scroll;
        }
    </style>
}

<div class="addclass_dropdowns">
    <div id="first">
        <div class="row">
            <h1 id="specific" class="btn col s6 offset-s3">Degree Specific Courses</h1>
        </div>
        <div>
            <ul class="classUnordered">
                <li>
                    <div class="card courseCard">
                        <span class="card-title courseCardTitle">Math</span>
                        <a class="btn-floating halfway-fab waves-effect waves-light blue darken-4" onclick="changesymbol(this)"><i class="material-icons">add</i></a>
                        <div class="card-content courseCardContent">
                            <p>Math</p><p>1520</p><p>12:30-2:30</p><p>Mon,Wed,Fri</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card courseCard">
                        <span class="card-title courseCardTitle">Physics</span>
                        <a class="btn-floating halfway-fab waves-effect waves-light blue darken-4" onclick="changesymbol(this)"><i class="material-icons">add</i></a>
                        <div class="card-content courseCardContent">
                            <p>Physics</p><p>1234</p><p>8:00-10:00</p><p>Mon,Wed,Fri</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card courseCard">
                        <span class="card-title courseCardTitle">Reading</span>
                        <a class="btn-floating halfway-fab waves-effect waves-light blue darken-4" onclick="changesymbol(this)"><i class="material-icons">add</i></a>
                        <div class="card-content courseCardContent">
                            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="row">
            <h1 class="btn col s6 offset-s3">All Courses</h1>
        </div>
        <div>

            <ul class="classUnordered">
                <li>
                    <div class="card courseCard">
                        <span class="card-title courseCardTitle">Math</span>
                        <a class="btn-floating halfway-fab waves-effect waves-light blue darken-4" onclick="changesymbol(this)"><i class="material-icons">add</i></a>
                        <div class="card-content courseCardContent">
                            <p>Math</p><p>1520</p><p>12:30-2:30</p><p>Mon,Wed,Fri</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card courseCard">
                        <span class="card-title courseCardTitle">Physics</span>
                        <a class="btn-floating halfway-fab waves-effect waves-light blue darken-4" onclick="changesymbol(this)"><i class="material-icons">add</i></a>
                        <div class="card-content courseCardContent">
                            <p>Physics</p><p>1234</p><p>8:00-10:00</p><p>Mon,Wed,Fri</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card courseCard">
                        <span class="card-title courseCardTitle">Reading</span>
                        <a class="btn-floating halfway-fab waves-effect waves-light blue darken-4" onclick="changesymbol(this)"><i class="material-icons">add</i></a>
                        <div class="card-content courseCardContent">
                            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="row">
            <h1 class="btn col s6 offset-s3">Completed Courses</h1>

        </div>
        <div>
            <p>Second Section Content</p> 
            <ul id="donzo">
                <li>hi</li>
            </ul>
        </div>
    </div>
    <br />
    <div class="row">
        <a href="@Url.Action(nameof(StudentController.Profile), "Student")" class="btn col s6 offset-s3">Finish</a>
    </div>
</div>

@section scripts {
<script type="text/javascript">
    $('#first').collapsible('accordion-open', {
        /* Speeds for opening */
        accordionUpSpeed: 400,
        accordionDownSpeed: 400,
        collapseSpeed: 400,
        /* Default pane open, if any */
        contentOpen: 1,
        /* Classes for dropdown arrow */
        arrowRclass: 'arrow-r',
        arrowDclass: 'arrow-d',
        animate: true
    });
</script>
    S
<script type="text/javascript">
function changesymbol(elmnt) {
    //$(document.getElementById("donzo")).innerHTML += "<li>" + $(elmnt.parentElement.parentElement).innerHTML + "</li>";
    $(elmnt.parentElement).fadeOut(400);
    $("#donzo").append("<li>" + $(elmnt.parentElement.parentElement).innerHTML + "</li>");
}S
</script>
}