@{
    ViewData["Title"] = "Home";
}

@if (!User.Identity.IsAuthenticated)
{
    <div class="notLoggedIn" style="padding-top:5em">
        <h1>
            Welcome to the Athena Scheduling Assistant!
        </h1>
        <p>
            This tool was designed by students for students, to allow for a more streamlined approach to allow students to schedule their course work for each semester and allow them to track thier progression through their degree.
        </p>
    </div>
}
else
{
    <ul class="tabs">
        <li class="tab hidden-print"><a href="#student">Student</a></li>
        <li class="tab hidden-print"><a href="#schedule">Schedule</a></li>
    </ul>
    <div id="student">
        @Html.Partial("_StudentDetails")
    </div>
    <div id="schedule">
        @Html.Partial("_CurrentSchedule")
    </div>
    @Html.Partial("_CurrentScheduleModal")
}

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('ul.tabs').tabs({
                swipeable: true,
                responsiveThreshold: 1920
            });
            // page is now ready, initialize the calendar...
            $('#calendar').fullCalendar({
                // put your options and callbacks here
                defaultView: "agendaWeek",
                minTime: "07:00:00",
                maxTime: "22:00:00",
                allDaySlot: false,
                slotDuration: "1:00",
                slotWidth: 2,
                height: "auto",
                header: false,
                columnFormat: 'ddd',
            });
            $('#calendar').fullCalendar('next');
            $('.modal').modal();
        });
    </script>

    <script type="text/javascript">
        $('.printBtn').on('click', function () {
            window.print();
        });
    </script>

    <script type="text/javascript">
        function completeClasses() {
            $('#calendar').fullCalendar('removeEvents');
        }
    </script>
}