@{
    ViewData["Title"] = "Home";
}
<div style="background-color:navy;padding-left:-3em;padding-right:-3em">
    <nav style="padding-left:-3em;padding-right:-3em">
        <div class="nav-wrapper" style="background-color:navy; height:10em; ">
            <img src="~/images/owl icon - with label.svg" class="img-responsive" style="height:10em; max-width:100%" />
            <a href="#!" class="brand-logo"></a>
            <ul class="right hide-on-med-and-down" style="position:relative;top:-10em;right:2em;">
                <li><a href="Login_Page">Login</a></li>
                <li><a href="NewAccountPage">New Account</a></li>
            </ul>
            <ul class="right hidden-lg hidden-md" style="position:relative;top:-10em;right:2em;">
                <li><a href="Login_Page">Login</a></li>
                <li><a href="NewAccountPage">New Account</a></li>
            </ul>
        </div>
    </nav>
</div>

<ul class="right hide-on-med-and-down" style="position:relative;top:-10em;right:2em;">
    <li><a href="Login_Page">Login</a></li>
    <li><a href="NewAccountPage">New Account</a></li>
</ul>

<div style="padding-top:5em">
    <h1>
        Welcome to the Athena Scheduling Assitant!
    </h1>
    <p>
        This tool was designed by students for students, to allow for a more streamlined approach to allow students to schedule their course work for each semester and allow them to track thier progression through their degree.
    </p>
</div>

<div class="table-responsive"></div>