@{
    ViewData["Title"] = "Home";
}

<div style="padding-top:5em">
    <h1>
        Welcome to the Athena Scheduling Assitant!
    </h1>
    <p>
        This tool was designed by students for students, to allow for a more streamlined approach to allow students to schedule their course work for each semester and allow them to track thier progression through their degree.
    </p>
</div>

<div class="table-responsive"></div>