@{
    ViewData["Title"] = "Main_Page";
}

<img src="~/images/UT-color-vert-trans.gif" class="img-responsive" style="height:10em; max-width:100%" />
<h4>Degree Progress:</h4>

<div id="progress-bar" class="all-rounded">
    <div id="progress-bar-percentage" class="all-rounded" style="width: 68%"><span>68/100</span></div>
</div>

<!--stick the calender https://fullcalendar.io/ here add this https://stackoverflow.com/questions/19822128/jquery-is-it-possible-to-disable-or-stop-a-user-from-clicking-on-a-div-eleme-->
<div id='calendar'></div>

<div id="Schedule button" class="btn">
    New Schedule
</div>
<div class="btn">
    print
</div>

<div>

</div>
<div>

</div>