@{
    ViewData["Title"] = "Main_Page";
}

<img src="~/images/UT-color-vert-trans.gif" class="img-responsive" style="height:10em; max-width:100%" />
<div class="" style="display:flex">
    <h4>Degree Progress:</h4>
    <div id="progress-bar" class="all-rounded" style="height:2em">
        <div id="progress-bar-percentage" class="all-rounded" style="width:68%; height:2em"><span>68/100</span></div>
    </div>
    <div>
        <h6>ETC:</h6>??/??/????
    </div>
</div>

<div id='calendar'></div>

<a href="Schedule_Page" style="color:white" class="btn">New Schedule</a>

<div class="btn">
    print
</div>