
@{
    ViewData["Title"] = "NewAccountPage";
}

<h2>Welcome to the Athena Scheduler!</h2>

<div class="container-fluid">

    <!-- Dropdown Trigger -->
    <a class='dropdown-button btn' href='#' data-activates='dropdown1'>Select Your University</a>

    <!-- Dropdown Structure -->
    <ul id='dropdown1' class='dropdown-content'>
        <li><a href="#!">University one</a></li>
        <li><a href="#!">University two</a></li>
    </ul>

    <a href="User_Page" class="btn">Create Account</a>
    <a href="Home" class="btn">Cancel</a>
</div>

