@{
    ViewData["Title"] = "Schedule_Page";
}
<h2>Schedule</h2>

<div class="row">
    <div class="col s9">
        <div class="card">
            <div class="card-content cal-card-content">
                <div id='calendar' class="user-tabs"></div>
            </div>
        </div>
        <div class="row">
            <a href="@Url.Action(nameof(StudentController.Profile), "Student")" class="btn col s2 offset-s1">Submit</a>
            <a href="@Url.Action(nameof(StudentController.Profile), "Student")" class="btn col s2 offset-s1">Cancel</a>
            <!-- Modal Trigger -->
            <a class="btn modal-trigger col s4 offset-s1" href="#modal1">Mark Classes as Complete</a>
            <!-- Modal Structure -->
            <div id="modal1" class="modal">
                <div class="modal-content">
                    <h4>Complete Courses</h4>
                    <p>Are you sure you would like to mark all of the currently scheduled courses as complete?</p>
                </div>
                <div class="modal-footer">
                    <a href="@Url.Action(nameof(StudentController.Profile), "Student")" class="modal-action modal-close waves-effect waves-blue btn-flat" onclick="completeClasses()">Agree</a>
                    <a href="#!" class="modal-action modal-close waves-effect waves-blue btn-flat">Cancel</a>
                </div>
            </div>

        </div>
    </div>


    <div class="col s3">
        <div id="first">
            <div class="row">
                <h1 id="specific" class="btn col s8 offset-s1">Degree Specific</h1>
            </div>
            <div>
                <div class="input-field">
                    <input placeholder="Keywords" id="Keywords" type="text" class="validate">
                </div>
                <ul class="classUnordered">
                    <li>
                        <div class="card courseCard">
                            <span class="card-title courseCardTitle">Math</span>
                            <a class="btn-floating halfway-fab waves-effect waves-light blue darken-4" onclick="changesymbol(this, this.id, 'Math', '12:30', '14:30', [1, 3, 5])" id="1520"><i class="material-icons">add</i></a>
                            <div class="card-content courseCardContent">
                                <p>Math</p><p>1520</p><p>12:30-2:30</p><p>Mon,Wed,Fri</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="card courseCard">
                            <span class="card-title courseCardTitle">Physics</span>
                            <a class="btn-floating halfway-fab waves-effect waves-light blue darken-4" onclick="changesymbol(this, this.id, 'Physics', '8:00', '10:00', [1, 3, 5])" id="1234"><i class="material-icons">add</i></a>
                            <div class="card-content courseCardContent">
                                <p>Physics</p><p>1234</p><p>8:00-10:00</p><p>Mon,Wed,Fri</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="card courseCard">
                            <span class="card-title courseCardTitle">Reading</span>
                            <a class="btn-floating halfway-fab waves-effect waves-light blue darken-4" onclick="changesymbol(this, this.id, 'Reading', '16:30', '18:30', [2, 4])" id="3004"><i class="material-icons">add</i></a>
                            <div class="card-content courseCardContent">
                                <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="row">
                <h1 class="btn col s8 offset-s1">All Courses</h1>
            </div>
            <div>
                <div class="input-field">
                    <input placeholder="Keywords" id="Keywords" type="text" class="validate">
                </div>
                <ul class="classUnordered">
                    <li>
                        <div class="card courseCard">
                            <span class="card-title courseCardTitle">Math</span>
                            <a class="btn-floating halfway-fab waves-effect waves-light blue darken-4" onclick="changesymbol(this, this.id, 'Math', '12:30', '14:30', [1, 3, 5])" id="9999"><i class="material-icons">add</i></a>
                            <div class="card-content courseCardContent">
                                <p>Math</p><p>1520</p><p>12:30-2:30</p><p>Mon,Wed,Fri</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="card courseCard">
                            <span class="card-title courseCardTitle">Physics</span>
                            <a class="btn-floating halfway-fab waves-effect waves-light blue darken-4" onclick="changesymbol(this, this.id, 'Physics', '8:00', '10:00', [1, 3, 5])" id="8888"><i class="material-icons">add</i></a>
                            <div class="card-content courseCardContent">
                                <p>Physics</p><p>1234</p><p>8:00-10:00</p><p>Mon,Wed,Fri</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="card courseCard">
                            <span class="card-title courseCardTitle">Reading</span>
                            <a class="btn-floating halfway-fab waves-effect waves-light blue darken-4" onclick="changesymbol(this, this.id, 'Reading', '16:30', '18:30', [2, 4])" id="7777"><i class="material-icons">add</i></a>
                            <div class="card-content courseCardContent">
                                <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


@section scripts {

    <script type="text/javascript">
        function completeClasses() {
            $('#calendar').fullCalendar('removeEvents');
        }
    </script>

    <script type="text/javascript">
        function changesymbol(elmnt, crsID, crsTitle, startTime, endTime, days) {
            var event = { id: crsID, title: crsTitle, start: startTime, end: endTime, dow: days };
            $('#calendar').fullCalendar('renderEvent', event, false);
            $(elmnt.parentElement).fadeOut(400);
        }
    </script>

    <script type="text/javascript">
        $('#first').collapsible('accordion', {
            /* Speeds for opening */
            accordionUpSpeed: 400,
            accordionDownSpeed: 400,
            collapseSpeed: 400,
            /* Default pane open, if any */
            contentOpen: 1,
            /* Classes for dropdown arrow */
            arrowRclass: 'arrow-r',
            arrowDclass: 'arrow-d',
            animate: true
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            // page is now ready, initialize the calendar...
            $('#calendar').fullCalendar({
                // put your options and callbacks here
                defaultView: "agendaWeek",
                minTime: "07:00:00",
                maxTime: "22:00:00",
                allDaySlot: false,
                slotDuration: "1:00",
                slotWidth: 2,
                height: "auto",
                header: false,
                columnFormat: 'ddd',
                eventColor: '#0d47a1',
                eventClick: function (event) {
                    $('#calendar').fullCalendar('removeEvents', event.id);
                    $(document.getElementById(event.id).parentElement).fadeIn(400);
                },
                eventRender: function (event, eventElement) {
                    var test = eventElement.find(".fc-time").children().text();
                    var length = eventElement.find(".fc-time").children().text().length;
                    if (length == 12) eventElement.find(".fc-time").children().html(test + "<span style=\"color:red\">&emsp;&emsp;X</span>");
                    else if (length == 11) eventElement.find(".fc-time").children().html(test + "<span style=\"color:red\">&emsp;&emsp;&nbsp;X</span>");
                    else if (length == 13) eventElement.find(".fc-time").children().html(test + "<span style=\"color:red\">&emsp;&emsp;&emsp;&nbsp;X</span>");
                }
            });
            $('#calendar').fullCalendar('next');
            $('.modal').modal();
        });
    </script>

}


