
@{
    ViewData["Title"] = "Schedule_Page";
}

<h2>Schedule</h2>


<div id="name"><ul></ul></div>


<div id="first">
    <div class="row">
        <h1 id="specific" class="btn col s6 offset-s3">Degree Specific Courses</h1>
    </div>
        <div>
            <p>First Section Content</p>
            <input id="enter" type="text">
            <input type="button" value="Enter name" onclick="displayUserName()">
        </div>
        <div class="row">
            <h1 class="btn col s6 offset-s3">All Courses</h1>
        </div>
        <div>
            <p>Second Section Content</p>
        </div>
    
</div>
<div class="row">
    <a href="User_Page" class="btn col s6 offset-s3">Submit</a>
</div>