@{
    ViewData["Title"] = "User_Page";
}
<br class="hidden-print" /><br class="hidden-print" /><br class="hidden-print" />

<ul class="tabs">
    <li class="tab col s3 hidden-print"><a href="#student">Student</a></li>
    <li class="tab col s3 hidden-print"><a href="#schedule">Schedule</a></li>
</ul>

<br /><br />
<div id="student">

    <div class="row">
        <div class="col s2">
            <h4>Degree Progress:</h4>
        </div>
        <div class="col s4 offset-s2">
            <div id="progress-bar" class="all-rounded">
                <div id="progress-bar-percentage" class="all-rounded" style="width: 68%"><span>68/100</span></div>
            </div>
        </div>
        <div class="col s2 offset-s1">
            <h5>ETC:</h5>
            <h6>??/??/????</h6>
        </div>
    </div>


    <table class="striped bordered">
        <thead>
            <tr>
                <th>Course</th>
                <th>Number</th>
                <th>Term</th>
                <th>University</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>Calculus I</td>
                <td>1003</td>
                <td>Spring</td>
                <td>LCCC</td>
            </tr>
            <tr>
                <td>Physics</td>
                <td>2105</td>
                <td>Fall</td>
                <td>Lorain County Community College</td>
            </tr>
            <tr>
                <td>Programming</td>
                <td>3562</td>
                <td>Summer</td>
                <td>University of Toledo</td>
            </tr>
            <tr>
                <td>English</td>
                <td>1452</td>
                <td>Summer</td>
                <td>UT</td>
            </tr>
            <tr>
                <td>Geography</td>
                <td>1324</td>
                <td>Fall</td>
                <td>Cleveland State University</td>
            </tr>
        </tbody>
    </table>


    <br /><br />
    <div class="row">
        <a href="Schedule_Page" class="btn col s5 m5 l3 offset-s0 offset-m0 offset-l2">New Schedule</a>
        <a href="Add_Classes" class="btn col s5 m5 l3 offset-s2 offset-m2 offset-l2">Complete Classes</a>
    </div>
</div>

<div id="schedule">
    <div class="card">
        <div class="card-content cal-card-content">
            <h4>Weekly Schedule:</h4>
            <div id='calendar' class="user-tabs"></div>
        </div>
        <a class="btn-floating halfway-fab waves-effect waves-light blue darken-4 tooltipped printBtn hidden-print" data-position="left" data-delay="50" data-tooltip="Print schedule here"><i class="material-icons">print</i></a>
    </div>
    <br />
</div>



@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            // page is now ready, initialize the calendar...
            $('#calendar').fullCalendar({
                // put your options and callbacks here
                defaultView: "agendaWeek",
                minTime: "07:00:00",
                maxTime: "22:00:00",
                allDaySlot: false,
                slotDuration: "1:00",
                slotWidth: 2,
                height: "auto",
                header: false,
                columnFormat: 'ddd',
            });

            $('#calendar').fullCalendar('next');
            $('#calendar').fullCalendar('render');

            $('ul.tabs').tabs({
                swipeable: true,
                responsiveThreshold: 1920
            });
        });
    </script>

    <script type="text/javascript">
        $('.printBtn').on('click', function () {
            window.print();
        });
    </script>
}